.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #0b0b0ba1;
  margin: 100px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}
.input {
  input {
    padding: 16px;
  }
}
